name: Django Test

on:
  push:
    branches: [main]
    paths: ['**.py']

permissions:
  contents: read

jobs:
  test-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.1

    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install dependencies
      run: |
        pip install --extra-index-url https://${{ secrets.PYPI_USER }}:${{ secrets.PYPI_PASS }}@pypi.stefanello.cc/simple/ .

    - name: Run testes
      run: |
        python runtests.py
